*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
html{
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
    background-color: white;
    
}

h1{
    font-size: 35px;
    text-align: center;
    color:white;
    padding: 20px;
    
}
h2{
    text-align: center;
    font-weight: 800;
}
h3{
    text-align: center;
    font-size:x-large;
}
header{
    
    background: linear-gradient(to right,#242729, #133e73 );
   padding: 20px;
  display: grid;
  margin-top: 50px;
}



.domains{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 10px;
}

 section #health img{
    object-fit: cover;
    width: 50px; height: 50px;
    overflow: hidden;
    border: 1px solid blue;
    border-radius: 5px;
}
section #finance img{
    object-fit: cover;
    width: 55px; height: 50px;
    overflow: hidden;
    border: 1px solid blue;
    border-radius: 5px;
}
section #transportation img{
    object-fit: cover;
    width: 55px; height: 50px;
    overflow: hidden;
    border: 1px solid blue;
    border-radius: 5px;
}

section article {
font-family:monospace;


}
section article a:hover{
    font-size: 20px;
    transition: 3s;
    color: green;
}
.changeMood{
    margin-left: auto;
    margin-right: 10px ;
    background-color:teal;
    font-size: larger;
    cursor: pointer;
    border-radius: 0;
    border-style:ridge;
    width: 200px;
    width: fit-content;
    font-weight: bold;

}
a{
    color:coral;
}
div img{
    width: 200px; height: 150px;
    display: grid;
    grid-row:auto;
    padding: 5px;
    margin-top: 10px;
}
 p{
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: large;
   
}
.risk img{
    object-fit: cover;
    width: fit-content;
    border: 1px solid black;
}
button{
   
    font-size: large;
    background-color:deepskyblue;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;  

}
button:hover{
    
    background-color:blue;
}
button:focus{
    background-color: green;
}
.quizHeader{
    font-size: 30px;
}

.riskcss{
    font-size: 30px;
}

.quizSet{
    
}
.quizSet p{
   font-family:Arial, Helvetica, sans-serif;
   
}
.quizH2{
    font-size: 15px;
    text-align: left;
    font-size: large;
   padding: 5px;

}
.answer{
    cursor: pointer;
    padding:5px;
    margin: 9px;
}

.quizSummary{
    display: none;
    margin-bottom: 20px;
}
.instaProfile img{
    width: 25px;
    border-radius: 5px;
    overflow: hidden;
    
}
.instaProfile{
    text-align: right;

}

footer{
    text-align: center;
    justify-content: center;
  
}
h4{
    color:cornflowerblue;
    text-decoration: underline;
}

.secondSubmitBtn{
    display: none;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content:right;
    align-items: center;
    background: linear-gradient(to right,#242729, #133e73 );
    box-shadow: 0 4px 8px 0 rgba(0,  0, 0, 0.2  ), 0 6px 20px 0 rgba(0  ,  0, 0, 0.19);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: all .5s ease-in-out;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 10px;
    
    }
    
    #nav {
      
     display: flex;
     justify-content: center;
     align-items: center;
      font-size: x-large;
      margin-bottom: 10;
    }
    
    #nav a:hover{
      color: #f9d68a;
    }

    #main-nav a{
        margin-right: 20px;
        color: white;
        font-family: Georgia, serif;
        font-size: 20px;
        cursor: pointer;
        padding-right: 5px;
        text-decoration: none;
        
    
    }
   
    #main-nav a:hover{
        color:burlywood;
        text-decoration: underline;
    }

    .horizontal li{

      border-color: white;
      padding-right: 5px;
      margin-left: 3px;
     
    }
    
    th{
        padding-left: 10px;
        align-items: center;
        justify-content: center;
        border-right: 1px solid;
        color: white;
        padding-right: 5px;
    }
    .horizontal th:last-of-type{
        border: none;
        
     }

     @media screen and (max-width:720px) {
        .horizontal{
            flex-direction: column;
              justify-content: center;
              align-items:stretch;
              text-align:center;
              box-shadow: none;
              position:fixed;
              font-size: 10px;
              padding-bottom: 6px;
        }
        #main-nav{
          padding-top: 5px;
          margin-left: 20px;
          gap: 10px;
          display: grid;
          grid-template-columns:  repeat(4, 1fr);
         
        }
     }